@model IEnumerable<Employee>;


@{
    ViewData["Title"] = "Index";
}
@if(Model.Count()>0){
<h1>Employees</h1>
<table class=" table table-striped table-dark">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Fname</th>
            <th scope="col">Lname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone_Number</th>
            <th scope="col">Age</th>
            <th scope="col">Civil ID</th>




        </tr>
    </thead>
    <tbody>
        @foreach (var Emp in Model)
        {
            <tr>
                <th scope="row">@Emp.Id</th>
                <td>@Emp.Id</td>
                <td>@Emp.Fname</td>
                <td>@Emp.Lname</td>
                <td>@Emp.Email</td>
                <td>@Emp.Phone_Number</td>
                <td>@Emp.age</td>
                <td>@Emp.CivilID_Number</td>
                    <td> <a class="nav-link text-light" asp-area="" asp-controller="Employee" asp-action="Delete" asp-route-id="@Emp.Id">Delete</a></td>
                    <td> <a class="nav-link text-light" asp-area="" asp-controller="Employee" asp-action="Detials" asp-route-id="@Emp.Id">Detials</a></td>
                    <td> <a class="nav-link text-light" asp-area="" asp-controller="Employee" asp-action="Update" asp-route-id="@Emp.Id">Update</a></td>

            </tr>

        }


    </tbody>
</table>
<center>
    <button>
            <a class="nav-link text-dark" asp-area=""  asp-action="Create">Add new Employee</a>
    </button>
</center>
}
else
{
    <h3>
        There is no Employess
    </h3>
}

